USE [master]
GO
/****** Object:  Database [HDH]    Script Date: 3/22/2022 3:37:36 PM ******/
CREATE DATABASE [HDH]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HDH', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\HDH.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'HDH_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\HDH_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HDH].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HDH]
GO
/****** Object:  Table [dbo].[Bill]    Script Date: 3/22/2022 3:37:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bill](
	[oID] [int] IDENTITY(1,1) NOT NULL,
	[dateCreate] [datetime] NULL,
	[cname] [nvarchar](30) NOT NULL,
	[cphone] [varchar](30) NULL,
	[cAddress] [nvarchar](100) NULL,
	[total] [money] NULL,
	[status] [int] NULL,
	[cid] [int] NULL,
	[discount] [int] NULL,
 CONSTRAINT [PK__Bill__C2FECB1BB8DDD1E2] PRIMARY KEY CLUSTERED 
(
	[oID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BillDetail]    Script Date: 3/22/2022 3:37:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BillDetail](
	[pid] [varchar](30) NOT NULL,
	[oID] [int] NOT NULL,
	[quantity] [int] NULL,
	[price] [money] NULL,
	[total] [money] NULL,
	[date] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 3/22/2022 3:37:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[cateID] [int] IDENTITY(1,1) NOT NULL,
	[cateName] [nvarchar](50) NULL,
	[status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[cateID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 3/22/2022 3:37:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[cid] [int] IDENTITY(1,1) NOT NULL,
	[cname] [nvarchar](30) NOT NULL,
	[cphone] [varchar](30) NULL,
	[cAddress] [nvarchar](100) NULL,
	[username] [nvarchar](50) NOT NULL,
	[password] [nvarchar](50) NOT NULL,
	[status] [bit] NULL,
	[role] [int] NULL,
	[questIndex] [int] NULL,
	[answer] [nvarchar](max) NULL,
	[pass2] [nvarchar](50) NULL,
	[email] [nvarchar](max) NULL,
 CONSTRAINT [PK__Customer__D837D05F88575D04] PRIMARY KEY CLUSTERED 
(
	[cid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DiscountCode]    Script Date: 3/22/2022 3:37:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiscountCode](
	[Status] [int] NULL,
	[Code] [nvarchar](50) NULL,
	[discount] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 3/22/2022 3:37:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[pid] [varchar](30) NOT NULL,
	[pname] [nvarchar](100) NOT NULL,
	[quantity] [int] NULL,
	[price] [money] NULL,
	[image] [varchar](max) NULL,
	[description] [nvarchar](max) NULL,
	[status] [bit] NULL,
	[cateID] [int] NULL,
	[addbycid] [int] NULL,
	[avgvote] [float] NULL,
 CONSTRAINT [PK__Product__DD37D91A01BCF441] PRIMARY KEY CLUSTERED 
(
	[pid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Quest]    Script Date: 3/22/2022 3:37:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Quest](
	[questIndex] [int] IDENTITY(1,1) NOT NULL,
	[content] [nvarchar](max) NULL,
 CONSTRAINT [PK_Quest] PRIMARY KEY CLUSTERED 
(
	[questIndex] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Review]    Script Date: 3/22/2022 3:37:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Review](
	[pid] [varchar](30) NULL,
	[cid] [int] NULL,
	[Comment] [nvarchar](max) NULL,
	[grade] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Bill] ON 

INSERT [dbo].[Bill] ([oID], [dateCreate], [cname], [cphone], [cAddress], [total], [status], [cid], [discount]) VALUES (3, CAST(N'2022-03-17T13:19:50.543' AS DateTime), N'ha duc ', N'00000', N'trung quoc', 400.0000, 0, 4, 0)
INSERT [dbo].[Bill] ([oID], [dateCreate], [cname], [cphone], [cAddress], [total], [status], [cid], [discount]) VALUES (6, CAST(N'2022-03-17T13:31:47.630' AS DateTime), N'hanh', N'0336473325', N'VietNam', 455.0000, 0, 3, 0)
INSERT [dbo].[Bill] ([oID], [dateCreate], [cname], [cphone], [cAddress], [total], [status], [cid], [discount]) VALUES (7, CAST(N'2022-03-17T13:33:33.837' AS DateTime), N'hanh', N'0336473325', N'VietNam', 155.0000, 0, 3, 0)
SET IDENTITY_INSERT [dbo].[Bill] OFF
GO
INSERT [dbo].[BillDetail] ([pid], [oID], [quantity], [price], [total], [date]) VALUES (N'P04', 3, 1, 55.0000, 55.0000, CAST(N'2022-03-17T13:21:19.337' AS DateTime))
INSERT [dbo].[BillDetail] ([pid], [oID], [quantity], [price], [total], [date]) VALUES (N'P10', 3, 2, 400.0000, 800.0000, CAST(N'2022-03-17T13:21:19.293' AS DateTime))
INSERT [dbo].[BillDetail] ([pid], [oID], [quantity], [price], [total], [date]) VALUES (N'P04', 6, 1, 55.0000, 55.0000, CAST(N'2022-03-17T13:33:33.850' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([cateID], [cateName], [status]) VALUES (1, N'Quan AO', 1)
INSERT [dbo].[Category] ([cateID], [cateName], [status]) VALUES (2, N'Ao Quan', 0)
INSERT [dbo].[Category] ([cateID], [cateName], [status]) VALUES (3, N'Vip', 1)
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
SET IDENTITY_INSERT [dbo].[Customer] ON 

INSERT [dbo].[Customer] ([cid], [cname], [cphone], [cAddress], [username], [password], [status], [role], [questIndex], [answer], [pass2], [email]) VALUES (3, N'hanh', N'0336473325', N'VietNam', N'hanh', N'OXmonv7FjE/TsXa01bcc4w==', 1, 2, 1, N'vip', N'dang cap', NULL)
INSERT [dbo].[Customer] ([cid], [cname], [cphone], [cAddress], [username], [password], [status], [role], [questIndex], [answer], [pass2], [email]) VALUES (4, N'hanh ha duc', N'0336473325', N'Thach that', N'project', N'Q6BnRXizpia3KuOq7Ek7eA==', 1, 1, 1, N'1111111111111', N'OXmonv7FjE/vsFgpWYT8Ew==', N'hanhhdhe141144@fpt.edu.vn')
INSERT [dbo].[Customer] ([cid], [cname], [cphone], [cAddress], [username], [password], [status], [role], [questIndex], [answer], [pass2], [email]) VALUES (5, N'hanh ha duc', N'0336473325', N'Thach that', N'project1', N'OXmonv7FjE/vsFgpWYT8Ew==', 1, 0, 1, N'chienochcho', N'OXmonv7FjE8qdGb2TBAt9g==', N'hanhhdhe141144@fpt.edu.vn')
SET IDENTITY_INSERT [dbo].[Customer] OFF
GO
INSERT [dbo].[DiscountCode] ([Status], [Code], [discount]) VALUES (0, N'0HgA8SSxYP', 10)
INSERT [dbo].[DiscountCode] ([Status], [Code], [discount]) VALUES (0, N'fEXp9ISW78', 15)
INSERT [dbo].[DiscountCode] ([Status], [Code], [discount]) VALUES (0, N'QdJgIvUm0d', 20)
GO
SET IDENTITY_INSERT [dbo].[Quest] ON 

INSERT [dbo].[Quest] ([questIndex], [content]) VALUES (1, N'Project PRJ có được điểm cao không?')
INSERT [dbo].[Quest] ([questIndex], [content]) VALUES (2, N'Có người yêu chưa?')
INSERT [dbo].[Quest] ([questIndex], [content]) VALUES (3, N'Ngày quan trọng nhất trong cuộc đời bạn?')
SET IDENTITY_INSERT [dbo].[Quest] OFF
GO
INSERT [dbo].[Review] ([pid], [cid], [Comment], [grade]) VALUES (N'P04', 4, N'123123', 5)
INSERT [dbo].[Review] ([pid], [cid], [Comment], [grade]) VALUES (N'P03', 4, N'12312312sadqwwdq', 5)
INSERT [dbo].[Review] ([pid], [cid], [Comment], [grade]) VALUES (N'P08', 4, N'Ha duc hanh vippro123456', 5)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Customer__F3DBC57271508549]    Script Date: 3/22/2022 3:37:36 PM ******/
ALTER TABLE [dbo].[Customer] ADD  CONSTRAINT [UQ__Customer__F3DBC57271508549] UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Bill] ADD  CONSTRAINT [DF__Bill__dateCreate__35BCFE0A]  DEFAULT (getdate()) FOR [dateCreate]
GO
ALTER TABLE [dbo].[Bill] ADD  CONSTRAINT [DF__Bill__status__36B12243]  DEFAULT ((0)) FOR [status]
GO
ALTER TABLE [dbo].[Category] ADD  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[Customer] ADD  CONSTRAINT [DF__Customer__status__32E0915F]  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[Product] ADD  CONSTRAINT [DF__Product__status__2D27B809]  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[Bill]  WITH CHECK ADD  CONSTRAINT [FK__Bill__cid__37A5467C] FOREIGN KEY([cid])
REFERENCES [dbo].[Customer] ([cid])
GO
ALTER TABLE [dbo].[Bill] CHECK CONSTRAINT [FK__Bill__cid__37A5467C]
GO
ALTER TABLE [dbo].[BillDetail]  WITH CHECK ADD  CONSTRAINT [FK__BillDetail__oID__3B75D760] FOREIGN KEY([oID])
REFERENCES [dbo].[Bill] ([oID])
GO
ALTER TABLE [dbo].[BillDetail] CHECK CONSTRAINT [FK__BillDetail__oID__3B75D760]
GO
ALTER TABLE [dbo].[BillDetail]  WITH CHECK ADD  CONSTRAINT [FK__BillDetail__pid__3A81B327] FOREIGN KEY([pid])
REFERENCES [dbo].[Product] ([pid])
GO
ALTER TABLE [dbo].[BillDetail] CHECK CONSTRAINT [FK__BillDetail__pid__3A81B327]
GO
ALTER TABLE [dbo].[Customer]  WITH CHECK ADD  CONSTRAINT [FK_Customer_Quest] FOREIGN KEY([questIndex])
REFERENCES [dbo].[Quest] ([questIndex])
GO
ALTER TABLE [dbo].[Customer] CHECK CONSTRAINT [FK_Customer_Quest]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK__Product__cateID__2E1BDC42] FOREIGN KEY([cateID])
REFERENCES [dbo].[Category] ([cateID])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK__Product__cateID__2E1BDC42]
GO
ALTER TABLE [dbo].[Review]  WITH CHECK ADD  CONSTRAINT [FK_Review_Customer] FOREIGN KEY([cid])
REFERENCES [dbo].[Customer] ([cid])
GO
ALTER TABLE [dbo].[Review] CHECK CONSTRAINT [FK_Review_Customer]
GO
ALTER TABLE [dbo].[Review]  WITH CHECK ADD  CONSTRAINT [FK_Review_Product] FOREIGN KEY([pid])
REFERENCES [dbo].[Product] ([pid])
GO
ALTER TABLE [dbo].[Review] CHECK CONSTRAINT [FK_Review_Product]
GO
ALTER TABLE [dbo].[Customer]  WITH CHECK ADD  CONSTRAINT [CK__Customer__passwo__31EC6D26] CHECK  ((len([password])>=(8)))
GO
ALTER TABLE [dbo].[Customer] CHECK CONSTRAINT [CK__Customer__passwo__31EC6D26]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [CK__Product__price__2C3393D0] CHECK  (([price]>=(0)))
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [CK__Product__price__2C3393D0]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [CK__Product__quantit__2B3F6F97] CHECK  (([quantity]>=(0)))
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [CK__Product__quantit__2B3F6F97]
GO
USE [master]
GO
